body {
  background-color: rgb(245,245,245);
}

h2 {
  padding: 0;
  margin: 0;
}

.life {
  font-family: helvetica;  
  line-height: 1.8em;
  color: rgb(61,61,61);
  opacity: .5;
  position: fixed;
  top: 300px;
  left:600px;
  font-size: 2em;
}

.join {
  font-family: helvetica;
  color: rgb(239,102,84);
  position: fixed;
  top: 488px;
  left:600px;
  font-size: 1em;
}

.title {
  font-family: Helvetica;
  color: rgb(61,61,61);
  margin-left: 12px;
  top: 20px;
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 60px;
  padding-top: 0px;
  
}

.links {
  list-style: none;
  text-transform; uppercase;
  font-family: Helvetica;
  margin-botoom; 12px
  position: relative;
  top: 300px;
}

.nav {
  position: relative;
  top: 60px;
  right: 25px;
  color: rgb(102,102,102);
  width: 210px;
  line-height: 24px;
  font-size: .8em; 
}

.start {
  background-color: rgb(239,102,84);
  color: rgb(245,245,245);
  padding-left: 80px;
}